@import url("https://cdn.syncfusion.com/ej2/material.css");
body {
  justify-content: center;
  align-items: center;
}
.e-gantt {
  display: block;
  width: 95vw !important;
  height: 500px !important;
}
.e-chart-row {
  flex: 1;
}
.e-task-label {
  box-sizing: border-box;

  width: 148px;
  height: 24px;

  background: #e2ebff;
  /* Light/Additional Colors/Blue */

  border: 1px solid #497cf6;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
